{
	"logFile": "data.log",

	"imageSource": "http://localhost:8080/?action=snapshot",
	"imageFile": "image.jpg",

	"arduinoPort": "/dev/ttyUSB0",

	"sensors": [
		{
			"name": "Temp Out",
			"key": "S1",
			"unit": "°C",
			"range": [-40, 40],
			"color": "#FFA825"
		}
	],

	"iterationInterval": 0,

	"font": "fonts/DejaVuSerifCondensed.ttf",
	"fontSize": 11,
	"textColor": "#111",
	"outlineColor": "#6281A2",
	"legendColor": "#D8EBFF"
}
